<!-- <h1>{{ count() }}</h1>
<h1>{{ count2() }}</h1>
<h1>{{ count3() }}</h1>
<button (click)="countChange()">countChange</button>
<button (click)="countChange3()">countChange3</button>
<input [(ngModel)]="title" />
<h1 #ele></h1>
<h1>{{ title() }}</h1>
<app-check
  [title]="title()"
  check="this is working"
  [(count)]="count"
  (count1)="onCount($event)"
/>
@if (isChecked()) {
<h1>this is checked element</h1>
} @for (item of names(); track $index) {
<h1>{{ item }}</h1>
} -->
<!-- <app-check
  [title]="title()"
  check="this is working"
  [(count)]="count"
  (count1)="onCount($event)"
/> -->
<app-check
  [title]="title()"
  check="this is working"
  [(count)]="count"
  (count1)="onCount($event)"
>
</app-check>
<h1 appGlobal>hi there</h1>
@if (fetch1()) { @for (item of fetch1(); track $index) {
<p>{{ item.title }}</p>
} }

<router-outlet />
